@model IEnumerable<WebFlashCards.Models.AnswerScore>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnswerScoreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnswerScoreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnswerScoreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
